body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

.navbar {
    background-color: rgb(185, 182, 182);
    overflow: hidden;
}

.navbar a {
    float: left;
    font-size: 16px;
    color: rgb(8, 8, 8);
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.navbar a:hover {
    background-color: #ddd;
    color: black;
}

table {
    display: none; /* Hide the table by default */
    width: 100%;/* Make the table full width */
    margin-top: 50px;
}
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.heading {
    font-size: 24px;
    margin-right: 10px;
}

.buttonlog {
    padding: 10px 20px;
    background-color: #e0e2e4;
    color: rgb(10, 10, 10);
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-left: 1000px;
    
}

.image {
    width: 50px;
    height: auto;
    margin-right: 5px;
}

/* Responsive Styles */
@media screen and (max-width: 768px) {
    .navbar {
        float: none;
    }

    .navbar a {
        float: none;
        display: block;
        text-align: left;
    }

    .navbar a:hover {
        background-color: transparent;
        color: rgb(8, 8, 8);
    }
}